<a href="https://colab.research.google.com/github/Ramachetan/Comp-Programming-Lang/blob/main/CS635101_Comp_Programming_Lang_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import urllib.request

In [ ]:
target_url = "https://www.celestrak.com/NORAD/elements/geo.txt"

In [ ]:
content = [" ".join(line.decode('utf-8').split()) for line in urllib.request.urlopen(target_url)]

In [ ]:
station_name = []
station_info_1 = []
station_info_2 = []

for index, line in enumerate(content):
    if index % 3 == 0:
        station_name.append(line)
    elif index % 3 == 1:
        station_info_1.append(f"{line}")
    else:
        station_info_2.append(f"{line}")

In [ ]:
stadata = pd.DataFrame([[station_name[i]] + row.split() for i, row in enumerate(station_info_2)])
stadata.head()

                      0  1      2  ...         7                 8     9
0                TDRS 3  2  19548  ...  229.8058  1.00264940108605  None
1  FLTSATCOM 8 (USA 46)  2  20253  ...  357.1412  1.00273011243825  None
2             SKYNET 4C  2  20776  ...  256.6953  1.00266772114108  None
3                TDRS 5  2  21639  ...  328.7345  1.00280306110924  None
4                TDRS 6  2  22314  ...   61.9066  1.00277063105628  None

[5 rows x 10 columns]

In [ ]:
sta_above_45 = stadata[stadata[3].astype(float) >= 45]
sta_above_45

                   0  1      2        3  ...         6         7           8      9
205         BEIDOU 5  2  36828  54.1793  ...  175.9860  266.5322  1.00259618  41443
218         BEIDOU 7  2  37256  50.5956  ...  191.5262  276.7730  1.00260363  40017
222         BEIDOU 8  2  37384  59.9855  ...  185.3377   20.0296  1.00266404  38880
234         BEIDOU 9  2  37763  54.4655  ...  225.9563   44.5331  1.00279097  37851
247        BEIDOU 10  2  37948  50.7072  ...  218.6844  137.3207  1.00258882  36612
347        BEIDOU 17  2  40549  52.2465  ...  191.1978  131.0634  1.00288691  24291
362        BEIDOU 20  2  40938  51.8345  ...  196.3259  135.5633  1.00293946  22560
384    BEIDOU IGSO-6  2  41434  57.7881  ...  212.3860  148.4106  1.00283451  20699
460    BEIDOU IGSO-7  2  43539  55.0607  ...  221.7597  320.7613  1.00275408  12379
484  BEIDOU-3 IGSO-1  2  44204  56.2436  ...  188.4635   66.0205  1.00275363   9570
489  BEIDOU-3 IGSO-2  2  44337  55.0978  ...  178.1072  257.7910  1.00265932   8913
498  BEIDOU-3 IGSO-3  2  44709  57.6056  ...  187.2228   40.8435  1.00271519   7669

[12 rows x 10 columns]

In [ ]:
station_name_above_45 = sta_above_45[0]

In [ ]:
print(station_name_above_45)

205           BEIDOU 5
218           BEIDOU 7
222           BEIDOU 8
234           BEIDOU 9
247          BEIDOU 10
347          BEIDOU 17
362          BEIDOU 20
384      BEIDOU IGSO-6
460      BEIDOU IGSO-7
484    BEIDOU-3 IGSO-1
489    BEIDOU-3 IGSO-2
498    BEIDOU-3 IGSO-3
Name: 0, dtype: object

In [ ]:
with open('satellite_name.txt', 'w') as f:
    for name in station_name_above_45:
        f.write("%s\n" % name)